header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--primary-surface-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

header h1 {
  font-size: 20px;
  color: var(--primary-color);
  margin: 0;
}
header nav a {
  margin-left: 15px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.search {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.search input[type="text"] {
  background-color: hwb(0 100% 0% / 0.05);
  padding: 6px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.search button {
  padding: 6px 12px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
