:root {
  --bg-color: #0d1117;
  --primary-surface-color: #1a202c;
  --primary-color: #a80303;
  /* --hover-color: #be0b0b; */
  --main-text-color: #f0f0f0;
  --secondary-text-color: #aaaaaa;
  --container-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
